#content .cart {
  //   margin: 1rem;
  border-radius: 10px;
  overflow: hidden;
  text-align: right;
  .title {
    text-align: left;
  }
  .header {
    position: relative;
    background: var(--bg-c);
    border-radius: 10px;
    overflow: hidden;
    .addr {
      display: flex;
      justify-content: space-between;
      .field {
        input {
          background: var(--bg-c);
        }
        label {
          background: var(--bg-c);
        }
      }
    }
  }
  .product {
    padding: 0;
    width: 100%;
    background: var(--bg-c);
    border-radius: 10px;
    .ctn-product {
      .detail {
        background: var(--bg-b);
        border-radius: 10px;
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        .name {
          display: flex;
          flex-direction: column;
          align-items: center;
          flex-wrap: wrap;
          .item-1 {
            color: var(--primary);
            font-weight: bold;
          }
        }
        .quantity {
          display: flex;
          height: 2rem;
          margin: 0;
          input {
            width: 3rem;
            text-align: center;
            border: none;
            border-radius: 5px;
          }
        }
      }
    }
  }
  .payment {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
    background: var(--bg-c);
    border-radius: 10px;
    h1 {
      width: 100%;
    }
    .select {
      display: flex;
      flex-wrap: wrap;
      .field {
        width: 100%;
      }
    }
    .price {
      .show {
        display: flex;
        align-items: center;
        justify-content: space-between;
        .number {
          margin-left: 3rem;
        }
      }
      .total .number {
        color: var(--primary);
      }
    }
  }
  .btn-payment {
    margin-top: 1rem;
    display: flex;
    justify-content: end;
  }
  .letter {
    position: absolute;
    top: 0;
    left: 0;
    height: 5px;
    width: 110%;
    // margin: 0 0.5rem;
    background-position-x: -30px;
    // border-radius: 10px;
    background-size: 116px 3px;
    background-image: repeating-linear-gradient(
      45deg,
      #6fa6d6,
      #6fa6d6 33px,
      transparent 0,
      transparent 41px,
      #f18d9b 0,
      #f18d9b 74px,
      transparent 0,
      transparent 82px
    );
  }
}
@media screen and(max-width: 768px) {
  #content .cart {
    padding: 0.5rem;
    button {
      padding: 0.5rem;
    }
    .header {
      padding: 1rem 0.5rem 0.5rem 0.5rem;
      .addr {
        flex-direction: column;
        justify-content: space-between;
        margin-top: 1rem;
      }
    }
    .product {
      margin-top: 0.5rem;
      padding: 0.5rem;
      .ctn-product {
        .detail {
          padding: 0.5rem;
          justify-content: center;
          align-items: center;
          margin-bottom: 0.5rem;
          .price {
            display: none;
          }
          .total {
            width: 100%;
            margin-top: 0.5rem;
          }
          img {
            height: 4rem;
            width: 4rem;
          }
          .name {
            width: calc(100% - 4rem);

            .item-1 {
              color: var(--primary);
              font-weight: bold;
              font-size: 1.2rem;
            }
          }
          button {
            padding: 0.5rem;
          }
          .quantity {
            height: 2rem;
            margin-right: 2rem;
            input {
              width: 3rem;
              text-align: center;
              border: 1px solid;
              border-radius: 5px;
            }
          }
        }
      }
    }
    .payment {
      margin-top: 0.5rem;
      padding: 0.5rem;
      .choose {
        padding: 0.5rem;
      }
      h1 {
        width: 100%;
        margin-bottom: 1rem;
      }
      .select {
        display: flex;
        flex-wrap: wrap;
        .field {
          width: 100%;
        }
      }
      .price {
        .show {
          margin-bottom: 0.5rem;
          .number {
            margin-left: 3rem;
          }
        }
      }
      .btn-payment {
        width: 100%;
        button {
          padding: 0.5rem;
        }
      }
    }
  }
}

@media screen and(min-width: 768px) {
  #content .cart {
    width: 1000px;
    margin: auto;
    padding: 0.5rem;
    .header {
      padding: 1rem;
      .addr {
        justify-content: space-between;

        margin-top: 1rem;
        flex-wrap: wrap;
      }
      .field {
        width: 450px;
      }
    }
    .product {
      margin-top: 1rem;
      padding: 1rem;
      display: block;
      .ctn-product {
        .detail {
          padding: 0.5rem;
          justify-content: space-between;
          align-items: center;
          margin-bottom: 0.5rem;
          img {
            height: 4rem;
            width: 4rem;
          }
          .name {
            // width: calc(100% - 4rem);
            .item-1 {
              color: var(--primary);
              font-weight: bold;
              font-size: 1.2rem;
            }
          }
          .quantity {
            height: 2rem;
            margin-right: 1rem;
            input {
              width: 3rem;
              text-align: center;
              border: 1px solid;
              border-radius: 5px;
            }
            button {
              width: 2rem;
            }
          }
        }
      }
      button {
        padding: 0.5rem;
      }
    }
    .payment {
      padding: 1rem;
      // flex-direction: column;
      h1 {
        width: 100%;
      }
      .choose {
        padding: 0.5rem;
      }
      .select {
        flex-wrap: wrap;

        .field {
          width: 100%;
        }
      }
      .price {
        .show {
          font-size: 1.5rem;

          display: flex;
          align-items: center;
          justify-content: space-between;
          margin-bottom: 0.5rem;
        }
        .product {
          padding: 0;
          display: flex;
          align-items: center;
          // border: 1px solid;
          justify-content: space-between;
        }
      }
      .btn-payment {
        width: 100%;
        button {
          padding: 0.5rem;
        }
      }
    }
  }
}
