.ctn-products {
    margin-bottom: 3rem;
    .title{
        margin-bottom: 1rem;
        text-align: left;
        color: var(--colorActive);
        font-size: 2rem;
    }
    
    .show-products{
        display: grid;
        margin: auto;
        grid-template-columns: repeat(auto-fit, 20rem );
        gap: 20px 20px;
    }
    .detail-product{
        background: var(--bg-c);
        padding-bottom: .5rem;
        border-radius: 10px;
        overflow: hidden;
        cursor: pointer;
         text-align: center;
         transition: all .2s;
        .img{
            padding-top: 100%;
            width: 100%;
            background-position: center;
            transition: background 0.3s;
        }
        .name{
           
            margin: .5rem 0;
            color: var( --colorActive);
        }
        .price{
            color: var(--colorError);
            font-size: 1.5rem;
           
        }
        .option{
            display: flex;
            flex-direction: column;
            align-items: center;
            & div{
               padding: .5rem;
               margin-bottom: .5rem;
                background: var(--bg-b);
                border-radius: 10px;
                color: var(--text-c);
            }
        }
        &:hover {
            box-shadow: 1px 1px 1px 1px var(--text-a);
            .img {
                background-size: 105% 105%;
            }
        }
    }
    
}
