@media screen and(min-width: 768px) {
  .product {
    width: 1000px;
    background: var(--bg-b);
    margin: auto;
    padding: 1rem;
    display: grid;
    grid-template-columns: 75% 25%;
    gap: 20px 20px;
    .content {
      border-radius: 10px;
      .header {
        margin-bottom: 1rem;
      }
    }
    .filter {
      border-radius: 10px;
      margin-bottom: 1rem;
      padding: 1rem;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      background-color: var(--bg-c);
      button {
        padding: 0.5rem;
      }
      .field {
        margin-bottom: 2rem;
      }
      select {
        width: 10rem;
        cursor: pointer;
        color: black;
        font-size: 1.2rem;
        padding: 0.5rem;
        border-radius: 10px;
        appearance: none;
        &:active {
          border-radius: 10px;
        }
      }
      h3 {
        font-size: 1.2rem;
        text-align: left;
      }
      .header {
        margin-bottom: 1rem;
        text-align: center;
        width: 100%;
        font-size: 2rem;
      }
    }
  }
}
@media screen and(max-width: 768px) {
  .product {
    width: 95vw;
    background: var(--bg-b);
    margin: auto;
    padding: 1rem;
    display: grid;
    gap: 20px 20px;
    .content {
      border-radius: 10px;
    }
    .filter {
      padding: 0.5rem;
      grid-row: 1/1;
      border-radius: 10px;
      background-color: var(--bg-c);
      overflow: hidden;
      h3.title {
        font-size: 13px;
        width: 6rem;
        // border: 1px solid;
      }
      h3.header {
        font-size: 1.2rem;
        width: 100%;
        margin-bottom: 1rem;
        color: var(--primary);
      }
      button {
        padding: 0.2rem;
        font-size: 12px;
        margin-top: 1rem;
      }
      .wrapper {
        // width: 100%;
        display: flex;
        overflow: auto;
      }
      .field {
        margin-bottom: 0.5rem;
      }
      select {
        width: 4rem;
        cursor: pointer;
        color: black;
        font-size: 12px;
        padding: 0.2rem;
        border-radius: 10px;
        appearance: none;
        &:active {
          border-radius: 10px;
        }
      }
    }
  }
}
