#home {
  background: var(--bg-c);
  margin: auto;
  border-radius: 10px;
  .active {
    background: var(--primary);
    color: white;
  }

  .ctn-category-news {
    margin-top: 2rem;
    margin-bottom: 0.5rem;
  }
  .category {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    h2 {
      width: 100%;

      margin-bottom: 0.5rem;
    }
    .category-item {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 6rem;
      .name {
        margin-top: 0.5rem;
      }
    }
    img {
      width: 2rem;
      height: 2rem;
    }
  }
}

@media screen and (min-width: 769px) {
  #home {
    width: 1000px;

    .slide-news {
      width: 800px;
      .ctn-slide {
        height: 300px;
        img {
          width: 800px;
        }
      }
      i {
        padding: 0.5rem;
      }
    }
    .category {
      padding: 0.5rem 0.5rem;
      // border: 1px solid;
      h2 {
        width: 100%;
      }
      .category-item {
        // font-size: 10px;
        margin: 0.2rem;
        padding: 0.5rem 0;
        border-radius: 10px;
        background: var(--bg-d);
        width: 8rem;
        &:hover {
          background: var(--bg-e);
          color: var(--text-a);
        }
      }
      img {
        // border: 1px solid;
        width: 3rem;
        height: 3rem;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  #home {
    width: 95vw;
    padding: 0.5rem;
    margin-top: 0.5rem;
    .active {
      background: var(--primary);
      color: white;
    }
    .slide-news {
      width: 100%;
      position: relative;
      margin: auto;
      margin-bottom: 3rem;
      .wrapper {
        overflow: hidden;
        border-radius: 10px;
      }
      .ctn-slide {
        display: flex;
        height: 35.625vw;
        transform: translateX(0);
        transition: all 0.2s;
        img {
          width: 95vw;
        }
      }
      i {
        padding: 0.1rem;
      }
    }
    .category {
      h2 {
        width: 100%;
        font-size: 1rem;
      }
      .category-item {
        font-size: 10px;
        margin: 0.2rem;
        padding: 0.5rem 0;
        border-radius: 10px;
        background: var(--bg-d);
        width: 5rem;
      }
      img {
        width: 2rem;
        height: 2rem;
      }
    }
  }
}
