@media screen and (min-width: 768px) {
  #app {
    display: grid;
    grid-template-columns: 12rem auto;
    #nav {
      z-index: 1;
      grid-column: span 2;
      height: 3rem;
    }
    #content {
      grid-column: 2/3;
      overflow-x: auto;
      overflow-y: auto;
      height: calc(99vh - 3rem);
      background: var(--bg-b);
    }
    #sidebar {
      grid-column: 1/2;
      grid-row: 2/3;
      height: 100%;
    }
  }
}
@media screen and (max-width: 768px) {
  #app {
    #nav {
      display: block;
      z-index: 1;
      height: 3rem;
    }
    #content {
      height: calc(99vh - 7rem);
      overflow-x: auto;
    }
    #sidebar {
      position: fixed;
      top: 0;
      z-index: 2;
      background: rgba($color: #000000, $alpha: 0.5);
      width: 0;
      transition: all 0.3s;
      overflow: hidden;
    }
  }
}
