@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
.material-icons {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 25px;
  cursor: pointer;
}
.form {
  display: flex;
  flex-direction: column;
  .field {
    margin-bottom: 1rem;
    position: relative;
    color: inherit;
    label {
      display: block;
      font-size: 1.5rem;
      font-weight: 600;
      color: var(--error);
      margin-bottom: 0.5rem;
    }
    input {
      background: var(--bg-c);
      border-radius: 10px;
      height: 3rem;
      width: 100%;
      color: inherit;
      font-size: 1rem;
      &:focus,
      &:not(:placeholder-shown) {
        border: 1px solid var(--success);
        & ~ label {
          background: var(--bg-c);
          top: 0;
          transform: translate(0, -50%);
          color: var(--success);
        }
        ~ .error {
          content: " none";
        }
      }
    }

    &[data-type="input"] label {
      color: inherit;
      position: absolute;
      height: 2rem;
      font-size: 1rem;
      padding: 0 0.5rem;
      top: 0.5rem;
      left: 2rem;
      display: flex;
      align-items: center;
      justify-content: center;
      transition: all 0.2s;
      pointer-events: none;
    }

    .error {
      margin-top: 0.5rem;
      color: var(--error);
      text-align: left;
    }
  }
}

a {
  cursor: pointer;
  text-decoration: none;
  color: inherit;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.choose {
  margin-right: 1rem;
  font-size: 1rem;
  cursor: pointer;
  border-radius: 10px;
  border: 1px solid;
  overflow: hidden;
  &.active-span {
    position: relative;
    border: 1px solid var(--primary);
    &::after {
      position: absolute;
      content: "\2714";
      color: white;
      bottom: 0;
      right: 0;
    }
    &::before {
      content: "";
      position: absolute;
      bottom: 0;
      right: 0;

      border-bottom: 25px solid var(--primary);
      border-left: 25px solid transparent;
      // border-radius: 0 transparent 10px transparent;
      position: absolute;
    }
  }
}
.active {
  color: white;
  background: var(--primary);
}
