:root {
  --primary: #0062cc;
  --success: #28a745;
  --error: #dc3545;
}

html {
  &[data-theme="light"] {
    --bg-a: #ffffff;
    --bg-b: #eeeeee;
    --bg-c: #dddddd;
    --bg-d: #cccccc;
    --bg-e: #bbbbbb;
    --bg-f: #aaaaaa;
    --text-f: #555555;
    --text-e: #444444;
    --text-d: #333333;
    --text-c: #222222;
    --text-b: #111111;
    --text-a: #000000;
  }
  &[data-theme="dark"] {
    --text-a: #ffffff;
    --text-b: #eeeeee;
    --text-c: #dddddd;
    --text-d: #cccccc;
    --text-e: #bbbbbb;
    --text-f: #aaaaaa;
    --bg-f: #555555;
    --bg-e: #444444;
    --bg-d: #333333;
    --bg-c: #222222;
    --bg-b: #111111;
    --bg-a: #000000;
  }
  color: var(--text-c);
  background: var(--bg-a);
}

h1 {
  font-size: 20px;
  color: var(--primary);
}

@media screen and (min-width: 768px) {
  html {
    font-size: 16px;
  }

  h1 {
    font-size: 2rem;
  }
}
