.news {
  margin: auto;
  .ctn-top {
    margin: auto;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .show-icon {
      z-index: 2;
      position: relative;
      background: var(--bg-d);
      border-radius: 10px;
      i {
        position: absolute;
        top: 50%;
        z-index: 1;
        background: var(--text-a);
        color: var(--bg-a);
        border-radius: 50%;
        opacity: 0.5;
        &:hover {
          opacity: 0.8;
        }
      }
    }
    .wrapper {
      overflow: hidden;
      .ctn-slide-news {
        display: flex;
        transition: all 0.3s;
      }
    }
    .top-detail {
      border-radius: 10px;
    }
    .ctn-number {
      display: flex;
      justify-content: center;
      button {
        width: 2rem;
        height: 2rem;
        border-radius: 50%;
        margin-right: 1rem;
      }
    }
  }
  .show-news {
    background: var(--bg-c);
    border-radius: 10px;
    .header {
      display: flex;
      justify-content: space-between;
    }
    .ctn-detail {
      .detail {
        display: flex;
        flex-direction: row;
        background: var(--bg-a);
        border-radius: 10px;
        overflow: hidden;
        img {
          width: 50%;
        }
      }
    }
  }
  .advertisement {
    background: var(--bg-c);
    height: 100px;
    border-radius: 10px;
  }
}
@media screen and (min-width: 768px) {
  .news {
    width: 1000px;
    display: grid;
    grid-template-columns: 75% 25%;
    gap: 1rem 1rem;
    .ctn-top {
      grid-column: span 2;
      width: 100%;
      // padding: 1rem 0;
      background: var(--bg-c);
      .wrapper {
        width: 800px;
        margin: auto;
      }
      .next {
        right: 0;
        transform: translate(50%, -50%);
      }
      .before {
        left: 0;
        transform: translate(-50%, -50%);
      }

      .top-detail {
        img {
          width: 800px;
        }
      }
      .ctn-number {
        margin-top: 1rem;
      }
    }
    .title {
      cursor: pointer;
      font-size: 1.5rem;
      color: var(--primary);
      font-weight: bold;
    }
    .show-news {
      padding: 1rem;
      hr {
        margin-bottom: 1rem;
      }
      select {
        font-size: 1.5rem;
        cursor: pointer;
        color: var(--primary);
      }
      .ctn-detail {
        .detail {
          display: flex;
          background: var(--bg-d);
          margin-bottom: 0.5rem;
          .content {
            padding: 0.5rem;
          }
        }
      }
    }
    .advertisement {
    }
  }
}

@media screen and (max-width: 768px) {
  .news {
    width: 90%;
    .ctn-top {
      margin-bottom: 0.5rem;
      // display: none;
      // border: 1px solid;
      grid-column: span 2;
      // width: 100%;
      padding: 1rem;
      background: var(--bg-c);
      .wrapper {
        width: 90vw;
        margin: auto;
      }
      // .show-icon {
      //   padding: 1rem;
      // }
      .ctn-slide-news {
        display: flex;
        // width: calc(90vw * 4);
        transition: all 0.3s;
        .top-detail {
          img {
            width: 90vw;
          }
        }
      }
      i {
        padding: 0.5rem;
      }
      .next {
        right: 0;
        transform: translate(25%, -50%);
      }
      .before {
        left: 0;
        transform: translate(-25%, -50%);
      }
      .top-detail {
        // border: 1px solid red;
        width: 90vw;
        img {
          width: 90vw;
          // width: 90vw;
        }
      }
      .ctn-number {
        margin-top: 1rem;
      }
    }
    .title {
      font-size: 1rem;
      color: var(--primary);
    }
    .show-news {
      padding: 1rem;
      hr {
        margin-bottom: 1rem;
      }
      select {
        font-size: 1.5rem;
      }
      .ctn-detail {
        .detail {
          margin-bottom: 0.5rem;
          .content {
            padding: 0.5rem;
          }
        }
      }
    }
    .advertisement {
    }
  }
}
